<main class="main">
  <div class="content">
    <div class="left-side">
      <psu-brand-bar #brandBar></psu-brand-bar>
      <psu-mega-menu-header #header></psu-mega-menu-header>
      <div style="width: 60%; min-height: 100vh; margin-top: 80px; margin-left: auto; margin-right: auto;">
        <h1>Penn State navigation web components running in Angular 20 with esbuild.</h1>
      </div>
      <psu-site-footer #footer></psu-site-footer>
      <psu-brand-footer #brandFooter></psu-brand-footer>
    </div>
  </div>
</main>
